* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color:  #00458b;
    --background-color: #3fd2c7;
    --text-color:  #99ddff;
}

html, body {
    min-height: 100%;
}

body {
    background-image: url(/assets/images/background.png);
    background-color: var(--background-color);
    position: relative;
}

/* Header/Image Styling Start */

header {
    background-color: var(--text-color);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    margin: 10px 5px 0 5px;
    z-index: 999;
    width: 90vw;
    border: 1px solid black;
    border-radius: 1em;


}

header h1 {
    width: 100%;
    font-size: 6vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--primary-color);
    text-shadow: 1px 2px white;
    font-style: italic;

}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em 3em 2em;
}

header .logo img {
    border-radius: 50%;
}

/* Header/Image Styling End */

/* Navigation Styling Start */


header nav {
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    display: inline-block;  
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    border: var(--primary-color) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    font-size: 1em;
    margin: .25em;

    text-shadow: 0 0 0.25 hsl(0, 0, 100% / 0.5), 0 0 0.125em var(--primary-color);

    box-shadow: inset 0 0 0.5em 0 var(--primary-color), 0 0 0.5em 0 var(--primary-color);
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    background: var(--primary-color);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

nav a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--primary-color);
    opacity: 0;
    transition: opacity 100ms linear;
}


nav a:hover,
nav a:focus {
    background: var(--primary-color);
    color: black;
    text-shadow: none;
}

nav a:hover::before,
nav a:focus::before {
    opacity: 1;
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
}

/* Navigation Styling End */

/* About Me Styling Start */

.about-me {
    height: 15em;
    border: .125em solid var(--primary-color);
    border-radius: 1em;
    top: 0;
    margin: 0 2em 3em 2em;
    padding: 1em;
    box-shadow: .25em .5em .5em var(--primary-color);
    background: var(--text-color);
    color: var(--primary-color);
}


.about-me h2 {
    width: 100%;
    font-size: 2.5em;
    border-bottom: .05em solid black;
    text-align: center;
    text-shadow: 1px 2px white;
    font-style: italic;

}

.about-me p {
    font-size: 1em;
    text-align: center;
    
}

/* About Me Styling End */

/* My Work Style Section */

body .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: .125em solid var(--primary-color);
    border-radius: 1em;
    top: 0;
    margin: 0 2em 3em 2em;
    padding: 1em;
    box-shadow: .25em .5em .5em var(--primary-color);
    justify-content: space-around;
    background: var(--text-color);
    color: var(--primary-color);

}
 
.projects h2 {
    width: 100%;
    font-size: 2.5em;
    border-bottom: .05em solid black;
    text-align: center;
    text-shadow: 1px 1.5px white;
    font-style: italic;

}

/*  First Project Styling Start */

.first-container {
    padding: 2rem;
    background-image: url(/project-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 1rem 2em 3em 2em;
    color: var(--primary-color);
    box-shadow: .25em .5em .5em var(--primary-color);
    width: 250px;
    height: 200px;
    text-align: left;

    
}

.first-container h3 {
    position: relative;
    top: 85%;
    z-index: 1;
    display: inline-block;
}

.first-container h3::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: var(--text-color);
    z-index: -1;

    transform: scaleX(0.06);
    transform-origin: left;
    transition: transform 250ms ease-in;

}

.first-container:hover h3::after {
    transform: scaleX(1);
}

.first-container .pop-up {
    position: relative;
    top: 80%;
    z-index: 1;
    display: inline-block;
    z-index: 1;
    left: -.58rem;
    color: transparent;
    transition: color 150ms 300ms;
}

.first-container .pop-up::after {
    content: '';
    position: absolute;
    top: -.2rem;
    bottom: -.2rem;
    left: -.2rem;
    right: -.2rem;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 150ms ease-in 250ms;
    transform-origin: bottom;
}

.first-container:hover .pop-up {
    color: var(--primary-color);
}

.first-container:hover .pop-up::after {
    transform: scaleY(1);
}

/* First Project Styling End */

/* Second Project Styling Start */

.second-container {
    padding: 2rem;
    background-image: url(https://via.placeholder.com/200/0000ff.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 1rem 2em 3em 2em;
    color: var(--primary-color);
    box-shadow: .25em .5em .5em var(--primary-color);
    width: 200px;
    height: 150px;
    text-align: left;

    
}

.second-container h3 {
    position: relative;
    top: 75%;
    z-index: 1;
    display: inline-block;
}

.second-container h3::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: var(--text-color);
    z-index: -1;

    transform: scaleX(0.06);
    transform-origin: left;
    transition: transform 250ms ease-in;

}

.second-container:hover h3::after {
    transform: scaleX(1);
}

.second-container .pop-up {
    position: relative;
    top: 66%;
    z-index: 1;
    display: inline-block;
    z-index: 1;
    left: .73rem;
    color: transparent;
    transition: color 150ms 300ms;
}

.second-container .pop-up::after {
    content: '';
    position: absolute;
    top: -.2rem;
    bottom: -.2rem;
    left: -.2rem;
    right: -.2rem;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 150ms ease-in 250ms;
    transform-origin: bottom;
}

.second-container:hover .pop-up {
    color: var(--primary-color);
}

.second-container:hover .pop-up::after {
    transform: scaleY(1);
}

/* Second Project Styling End */

/* Third Project Styling Start */
.third-container {
    padding: 2rem;
    background-image: url(https://via.placeholder.com/200/0000ff.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 1rem 2em 3em 2em;
    color: var(--primary-color);
    box-shadow: .25em .5em .5em var(--primary-color);
    width: 200px;
    height: 150px;
    text-align: left;

    
}

.third-container h3 {
    position: relative;
    top: 75%;
    z-index: 1;
    display: inline-block;
}

.third-container h3::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: var(--text-color);
    z-index: -1;

    transform: scaleX(0.06);
    transform-origin: left;
    transition: transform 250ms ease-in;

}

.third-container:hover h3::after {
    transform: scaleX(1);
}

.third-container .pop-up {
    position: relative;
    top: 66%;
    z-index: 1;
    display: inline-block;
    z-index: 1;
    left: .73rem;
    color: transparent;
    transition: color 150ms 300ms;
}

.third-container .pop-up::after {
    content: '';
    position: absolute;
    top: -.2rem;
    bottom: -.2rem;
    left: -.2rem;
    right: -.2rem;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 150ms ease-in 250ms;
    transform-origin: bottom;
}

.third-container:hover .pop-up {
    color: var(--primary-color);
}

.third-container:hover .pop-up::after {
    transform: scaleY(1);
}

/* Third Project Styling End */

/* Fourth Project Styling Start */
.fourth-container {
    padding: 2rem;
    background-image: url(https://via.placeholder.com/200/0000ff.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 1rem 2em 3em 2em;
    color: var(--primary-color);
    box-shadow: .25em .5em .5em var(--primary-color);
    width: 200px;
    height: 150px;
    text-align: left;

    
}

.fourth-container h3 {
    position: relative;
    top: 75%;
    z-index: 1;
    display: inline-block;
}

.fourth-container h3::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: var(--text-color);
    z-index: -1;

    transform: scaleX(0.06);
    transform-origin: left;
    transition: transform 250ms ease-in;

}

.fourth-container:hover h3::after {
    transform: scaleX(1);
}

.fourth-container .pop-up {
    position: relative;
    top: 66%;
    z-index: 1;
    display: inline-block;
    z-index: 1;
    left: .73rem;
    color: transparent;
    transition: color 150ms 300ms;
}

.fourth-container .pop-up::after {
    content: '';
    position: absolute;
    top: -.2rem;
    bottom: -.2rem;
    left: -.2rem;
    right: -.2rem;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 150ms ease-in 250ms;
    transform-origin: bottom;
}

.fourth-container:hover .pop-up {
    color: var(--primary-color);
}

.fourth-container:hover .pop-up::after {
    transform: scaleY(1);
}

/* Fourth Project Styling End */

/* Fifth Project Styling Start */
.fifth-container {
    padding: 2rem;
    background-image: url(https://via.placeholder.com/200/0000ff.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 1rem 2em 3em 2em;
    color: var(--primary-color);
    box-shadow: .25em .5em .5em var(--primary-color);
    width: 200px;
    height: 150px;
    text-align: left;

    
}

.fifth-container h3 {
    position: relative;
    top: 75%;
    z-index: 1;
    display: inline-block;
}

.fifth-container h3::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: var(--text-color);
    z-index: -1;

    transform: scaleX(0.06);
    transform-origin: left;
    transition: transform 250ms ease-in;

}

.fifth-container:hover h3::after {
    transform: scaleX(1);
}

.fifth-container .pop-up {
    position: relative;
    top: 66%;
    z-index: 1;
    display: inline-block;
    z-index: 1;
    left: .73rem;
    color: transparent;
    transition: color 150ms 300ms;
}

.fifth-container .pop-up::after {
    content: '';
    position: absolute;
    top: -.2rem;
    bottom: -.2rem;
    left: -.2rem;
    right: -.2rem;
    background: white;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 150ms ease-in 250ms;
    transform-origin: bottom;
}

.fifth-container:hover .pop-up {
    color: var(--primary-color);
}

.fifth-container:hover .pop-up::after {
    transform: scaleY(1);
}

/* Fifth Project Styling End */



footer {
    width: 100vw;
    height: 10vh;
    position: relative;
    margin-bottom: 0;
    background: black;
}


.reach-out {
    margin: 2px 0;
    text-align: center;
    height: 40px;
    left: 100%;

}

.reach-out h3 {
    color: white;
}

.reach-out a {
    font-size: 1.25em;
    width: 100%;
    position: relative;
    padding: 2px;    
}

.reach-out .link {
    transition: font-size ease-out 150ms;
    font-size: 1.25em;
    top: 0%;
}

.reach-out .link:hover {
    font-size: 2em;
}

footer .button {
    width: 6em;
    height: 1.5em;
    transition: height, margin ease-out 150ms;
    color: var(--primary-color);
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .75em;
    border-radius: .35em;
    padding: 2.5px;
    cursor: pointer;
    transform: translateY(-2px);
    text-shadow: 0 0 0.25 hsl(0, 0, 100% / 0.5), 0 0 0.125em var(--primary-color);
}

footer .button:hover {
    height: 2em;
    margin: .5em;
    background-color: var(--primary-color);
    color: white;
}



@media (min-width: 701px) and (max-width: 768px) {
    

    header {
        display: flex;
        flex-wrap: wrap;

    }
    header h1 {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 6rem;
    }
    header .logo {
        flex: 2;
    }

    
}

@media (max-width: 575px) {
    header {
        margin: 10px 0 0 0;
    }
    header h1 {
        font-size: 2.5em;
    }
    header .logo {
       transform: scale(.7);
    }
    header nav ul {
        flex-wrap: wrap;
    }

    header nav ul li {
        margin: 1.5em .5em 0 .5em;
    }

    section .projects {
        margin: 0 0.25em 3em 0.25em;
    }

    .project-1 {
        margin-top: 1em;
        margin-bottom: .5em;
    }


}